body {
    background: #f6f6f6
}

.border {
    border-bottom: 1px solid #f0f2f7;
    background: #fff;
    box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
    position: relative;
}

.padding {
    padding: 15px;
    margin-top: 15px;
}

.right {
    float: right;
}

.del {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 10px 5px 10px;
    background: grey;
}

.del:hover {
    background: red
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
}

.animation {
    background: cornflowerblue;
    float: left;
    width: 0px;
    margin: -15px 15px 0 -15px;
    animation: mymove 1s forwards;
}

.animation:hover {
    background: red
}

@keyframes mymove {
    from {
        width: 0
    }
    to {
        width: 100px
    }
}

@keyframes up {
    from {
        bottom: -225px
    }
    to {
        bottom: 0
    }
}

@keyframes down {
    from {
        bottom: 0
    }
    to {
        bottom: -225px
    }
}

.fixbottom-up {
    animation: up 1s forwards;
}

.fixbottom-down {
    animation: down 1s forwards;
}

.fixbottom {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: -225px;
    padding: 20px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid cornflowerblue;
    margin: 0 auto;
    margin-top: -5px;
    margin-bottom: 15px;
    cursor: pointer;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid cornflowerblue;
    margin: 0 auto;
    margin-top: -5px;
    margin-bottom: 15px;
    cursor: pointer;
}

.relation1 {
    position: relative;
    top: -35px;
    text-decoration: underline;
    color: cornflowerblue
}

.relation2 {
    float: right;
    position: relative;
    top: -35px;
    text-decoration: underline;
    color: cornflowerblue
}

.relation {
    position: relative;
    top: -35px;
}
.nav-bar{background: #ffffff;height: 50px}
.content{width: 800px;margin: 0 auto;margin-top: 15px}
.editBtn{line-height: 83.8px;overflow:hidden;
    text-overflow:ellipsis;white-space:nowrap;}